.container {
  position: relative;
  text-align: center;
  color: rgb(244, 10, 166);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
  position: absolute;
  top: 5%;
  left: 40%;
  word-wrap: normal;
  text-align: left;
  transform: translate(-50%, -50%);
  color: rgba(55, 29, 255, 0.626);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hidden { display: none; }

.paragraph-2 {
  position: absolute;
  top: 49%;
  left:67%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
    text-align: right;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: bold;
}

.paragraph-3 {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: rgb(1, 1, 1);
    text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: x-small;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-center {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-right {
  position: absolute;
  top: 90%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.button {
  background-color: rgb(244, 10, 166);
  border: none;
  color: rgb(29, 229, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}

.button-2 {
  background-color: rgb(236, 57, 14);
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;

}

.top-left {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
}


.bottom-left {
  position: absolute;
  top: 80%;
  left: 10%;
  transform: translate(-50%, -50%);
}
